@import '../../../../../common/variable';

.ligth_box{
    position: fixed;
    top: 0;
    left:0;
    width: 100vw;
    min-height: 100vh;
    background-color: $Black;
    opacity: 0.75;
}
.slider_modal{
    position:absolute;
    top:10%;
    right:50%;
    transform: translateX(50%);
    width: 550px;
    height: auto;
    .close_modal_btn{
        margin-left: 100%;
        margin-bottom: 15px;
        transform: translateX(-100%);
    }
}
